body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  text-align: center;
  font-weight: lighter;
  color: black;
  font-size: 25pt;
  letter-spacing: 10px;
}
h2 {
  text-align: center;
  font-weight: lighter;
}
h3 {
  color: #FFCC00;
  font-weight: lighter;
}
.topnav {
  font-size: 10pt;
  font-weight: bold;
  }
  a {
    text-decoration: none;
    color: #9A9B94;
    padding: 10px;
  }
  .topnav a:hover {
    border-bottom: 1px solid #9A9B94;
  }
  .active{
    border-bottom: 1px solid #9A9B94;
  }
  .column {
      float: left;
  }
  .column.sx{
    width: 20%;
    border-right: 6px solid #ffcc00;
    height: 100vh;
  }
  .column.middle{
    width: 60%;
    height: 100vh;
  }
  .p {
    margin-left: 30%;
    margin-top: 8%;
    margin-right: 28%;
  }
  .gallery {
    margin-left: 26%;
  }
  .small.img {
    height: 190px;
    filter: opacity(50%);
    transition: 1s;
    padding-top: 19px;
  }
  .small.img:hover {
    filter: opacity(100%);
  }
  .contact-form {
    text-align: center;
    margin-top: 80px;
  }
  form {
    margin-top: 80px;
  }
  .form-control {
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #E9E9E5;
    font: 15px 'Montserrat', sans-serif;
    color: black;
  }
  input {
    height: 45px;
  }
  form .submit {
    background: linear-gradient(45deg, rgba(247,150,52,1) 0%, rgba(255,204,0,1) 100%);
    color: white;
    font: 15px 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  form .submit:hover {
    cursor: pointer;
  }
  ::placeholder {
    color: #9A9B94;
  }
  .contact1 {
    height: 40px;
    margin-left: 120px;
    margin-top: 200px;
  }
  .riga {
    height: 70px;
  }
  .small {
    font-size: 10pt;
    color: #9A9B94;
  }
  .link {
    color: #ffcc00;
    padding: 0;
  }
  .elisa {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15%;
  }
  .icona {
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: 30%;
    height: 30px;
  }
